{ 
	order authenticate before respond
	order authorize before basicauth

	security {
		local identity store localdb {
			realm local
			path /root/.local/caddy/users.json
		}
		authentication portal myportal {
			crypto default token lifetime 3600
			cookie lifetime 86400
			cookie samesite lax
			enable identity store localdb
			cookie domain *.$domain
		}
		$authorization
	}
}

$domain { 
	root * /home/home  
	file_server browse 
}
auth.$domain {
	route {
		authenticate with myportal
	}
}             
api.$domain { 
	reverse_proxy localhost:5000 
}
$redirect
