html {
  line-height: 1.5;
  font-family: Arial;
  font-size: 16px;
}
body {
  margin: 0 auto;
  max-width: 40em;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  hyphens: auto;
  overflow-wrap: break-word;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
  text-align: center;
}
a {
  padding: 1em;
  margin: 0.2em 0;
  background-color: lightgrey;
  color: #1a1a1a;
  text-decoration: none;
  min-width: 20em;
  display: inline-block;
}
a:hover {
  background-color: ffeed5;
}
